<ion-view class="no-padding" hide-nav-bar="true" view-title="Events">
    <div class="bar bar-header bar-positive">
        <button ng-click="back()" class="button icon ion-android-arrow-back"></button>
        <button ui-sref="home" class="button icon ion-home"></button>
        <p class="title">            
            {{detail.selected.name}}            
        </p>
    </div>
    <ion-content class="has-header content" overflow-scroll="false">
        <div>
            <img class="full-image" ng-src={{detail.selected.image}}>
        </div>        
        <div ui-view>
            <div class="plaza-content">
                <div class="list">
                    <span ng-bind-html='detail.selected.datetime'></span>
                    <span ng-bind-html='detail.selected.description'></span>
                    <span ng-bind-html='detail.selected.products'></span>
                    <button class="button plaza-map-button button-positive green-flat" ui-sref="map">
                        <i class="ion ion-map"></i>
                        <span class="hash">Map</span>
                    </button>
                </div>            
                <div class="list" data-ng-hide="!detail.selected.links.length">
                    <p>More info: </p>
                    <div class="row" ng-repeat="x in detail.selected.links" ng-if="$index % 3 == 0" ng-init="index = $index">
                        <div ng-repeat="i in [0,1,2]" ng-if="(index + i)<detail.selected.links.length" class="col-33">
                            <div class="button plaza-map-button button-positive blue-flat" target="_blank" data-ng-click="detail.launch(detail.selected.links[index+i].href)">
                                <i class="ion {{detail.selected.links[index+i].icon}}" style="font-size: 30px; margin-top: 10px;"></i>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>                       
        </div>
    </ion-content>
</ion-view>
